<div style="margin-top:5%" class="row">
  <div class="span4 offset2">
  <p class="lead">
    I've led classes at <a href="http://soul-cycle.com">Soul Cycle</a>,
    <a href="http://barrysbootcamp.com">Barry's Bootcamp</a>
    <a href="http://flywheelsports.com">and Flywheel Sports</a>
  </p>

  <p class="lead">
    I'm currently creating a new fitness movement for women at
    <a href="http://upliftstudios">Uplift Studios</a>.
  </p>

  <p class="lead">
    I'm changing the way consumers discover fitness classes at <a href="http://classtivity.com">Classtivity</a>.
  </p>
  </div>
  <div class="span4 offset1">
    <img class="img-polaroid" src="/images/uplift.jpg" />
  </div>
</div>
