<div style="background-color:white;margin-bottom:0px;padding-bottom:25px" class="hero-unit">
  <div class="row">

    <div id="rocket" class="span4 offset3">
      <embed src="/images/ventasbird.svg" type="image/svg+xml" />
    </div>

  </div>

</div>
