<div style="margin-top:5%" class="row">
  <div class="span4 offset2">
  <blockquote>
   <p>"She was on the verge of doing a high kick."<small><a href="http://rateyourburn.com/review/79">Rate Your Burn</a></small></p>
  </blockquote>
  <blockquote>
   <p> "It's like Flybarre meets People's Bootcamp meets SoulCycle."<small><a href="http://www.wellandgoodnyc.com/2013/02/20/uplift-studios-gives-its-class-offerings-a-makeover">Well+Good NYC</a></small> </p>
  </blockquote>
  <blockquote>
   <p> "It was inspiring to see her just totally own the room"<small><a href="http://fatbottomslim.com/2012/10/10/stephanie-nieman/">FatBottomSlim</a></small> </p>
  </blockquote>
  <blockquote>
   <p> "This is Stephanie's element. Her energy was incredible"<small><a href="http://fitjourney.com/blog/2013/2/13/fyth6bk6hmeh2b8auj0625jevu63ve">FitJourney</a></small></p>
  </blockquote>
  </div>
  <div class="span4 offset1">
    <img class="img-polaroid" src="/images/steph_1.jpg" />
  </div>
</div>
