<div class="page-header">
  <h1>
    <span style="color:#404040">FAQ
    <small>learn a little more</small>
  </h1>
</div>

<h3>How does Followgen work?</h3>

<p class="lead">
  1. You tell use who your target market is.<br>
  2. We find them on twitter and engage with them at a  high volume via social signals (favoriting targeted tweets) on your behalf.<br>
  3. Twitter notifies users of these actions, which gives users the opportunity to click through to your product, or follow you. <br>
</p>	

<p class="lead">
  This kind of work is incredibly labor intensive. It's not something you or your
  social media manager would have time to do effectively - but it is incredibly
  valuable.
</p>

<h3>What's an impression?</h3>
<p class="lead">
  An impression is a twitter notification in a users email inbox, or 'Connect' tab
  on twitter.com / twitter mobile apps that contains a friendly social signal from
  your account.
</p>

<h3>Will you ever post tweets from my account?</h3>
<p class="lead">No.</p>

<h3>Will you ever retweet tweets from my account?</h3>
<p class="lead">No.</p>

<h3>Will you ever follow people from my account?</h3>
<p class="lead">No.</p>
