	    <div class="container">
	
						<h3>Goals : week 3</h3>
					
						
            <p>
						<h4><i>Steph</i></h4>
            </p>
                  <p class="lead">
                    <ol>
                      <li>Read 1 article on Techcrunch - write myles an email about it</li> 
                      <li>Read 1 article on Hacker News - write myles an email about it</li> 
                    </ol>
                  </p>

            <p>
						<h4><i>Myles</i></h4>
            </p>
									
							
									<p class="lead">
                    <ol>
                      <li>Home - show targeting terms</li>
                      <li>Stats Page visual + unfollowers</li>
                      <li>Auto Emails w/ Report</li>
                      <li>Blacklist</li>
                      <li>Smart Faving (no bots)</li>
                      <li>Listing</li>
                      <li>Geocoding (via zipcode)</li>
                      <li>Unfavoriting?</li>
                      <li>AB testing</li>
                    </ol>
                  </p>	
						
</div> <!-- /main -->
