<div class="row">
  <div class="lead span well">
    <p>
      Sorry we're not tracking <a href="http://twitter.com/<%= uid %>"><strong>@<%= uid %></strong></a> (yet).
    </p>
    <p>
      You can <a href="/auth/twitter"><strong>sign up</strong></a> and we'll start tracking you immediately.
    </p>
  </div>
</div>
