<div class="page-header">
  <h1>
    <span style="color:#404040">Thank you <small>your plan has been updated</small>
  </h1>
</div>
  <div class="row">
    <div class="span8">
      <p class="lead">
        For more information, please consult our
        <a href="/faq">FAQ</a> or contact us directly
        <a href="/contact">via email</a>
      </p>
      <p class="lead">
        <a href="/home">Click here to return home</a>
      </p>
    </div>
  </div>
