<div class="row crm-cell">
  <div style="" class="span1">
    <img class="img-rounded" src="/images/me.jpeg" />
  </div>
  <div class="span2">
    <div class="row">
      <strong>Myles Recny</strong>
    </div>
    <div class="row">
      referred 3 customers.<br><i class="icon-gift"></i>&nbsp;<u>Send a gift</u>
    </div>
    <div style="margin-top:8px;opacity:0.7;font-size:22px" class="row">
      <i class="reach-out icon-twitter"></i>
      &nbsp;&nbsp;&nbsp;
      <i class="reach-out icon-facebook"></i>
      &nbsp;&nbsp;&nbsp;
      <i class="reach-out icon-linkedin"></i>
      &nbsp;&nbsp;&nbsp;
      <i class="reach-out icon-envelope"></i>
    </div>
  </div>
  
</div>
