
<table style="margin-top:2%" class="offset4 span4 table table-hover">
  <thead>
    <tr style="">
      <th>Day</th>
      <th>
      Time
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Monday</td>
      <td>5:30pm</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>12:30pm</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td></td>
      <td>10:30am</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>7:30am</td>
    </tr>
    <tr>
      <td></td>
      <td>8:30am</td>
    </tr>
    <tr>
      <td></td>
      <td>10:30am</td>
    </tr>
    <tr>
      <td>Thu</td>
      <td></td>
    </tr>
    <tr>
      <td>Fri</td>
      <td></td>
    </tr>
    <tr>
      <td>Sat</td>
      <td>10:30am</td>
    </tr>
    <tr>
      <td>Sat</td>
      <td>12:30pm</td>
    </tr>
  </toby>
</table>
<div style="margin-top:2%" class="row">
  <div style="text-align:center" class="span12">
    <a href="http://upliftstudios.com/images/get-uplifted.png"><button class="btn btn-inverse btn-large"><i class="icon-credit-card"></i>&nbsp;Book at Uplift</button></a>
  </div>
</div>
