<div class="page-header">
  <h1>
    <span style="color:#404040">Oops!<small></small>
  </h1>
</div>
  <div class="row">
    <div class="span8">
      <p class="lead well">
        Wow, due to extremely high demand we're not currently accepting new signups. 
        Please get in contact with <i><%= owner.email || owner.name %></i> to jump the line.
      </p>
    </div>
  </div>
