<div class="page-header">
  <h1>
    <span style="color:#404040">Thank you<small></small>
  </h1>
</div>
  <div class="row">
    <div class="span8">
      <p>
        <h3>What happens now?</h3>
      </p>
      <p class="lead">
        We're about to begin creating impressions of your
        twitter profile with your target audience.
      </p>
      <p class="well lead">
        <i>We will never tweet, retweet, DM or follow anyone from your account</i>
      </p>
      <p class="lead">
        For more information, please contact us directly.
      </p>
      <p class="lead">
        <a href="/home">Click here to manage your account</a>
      </p>
    </div>
  </div>
