<!doctype html>
<html lang="en">	
<head>
	<meta charset="utf-8">
	<title>Reveal.js 3 Slide Demo</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/reveal.js/css/reveal.min.css">
	<link rel="stylesheet" href="/reveal.js/css/theme/default.css" id="theme">	
	<!--Add support for earlier versions of Internet Explorer -->
	<!--[if lt IE 9]>
	<script src="/reveal.js/lib/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

	<!-- Wrap the entire slide show in a div using the "reveal" class. -->
	<div class="reveal">
    <div id="logo-top" style="display:none;position:absolute;top:35px:left:30px">
        <div style="font-size:40px"><span style="opacity:0.3">thousand</span>burn</div>
    </div>
		<!-- Wrap all slides in a single "slides" class -->
		<div class="slides">

			<!-- ALL SLIDES GO HERE -->
			<!-- Each section element contains an individual slide -->
			<section>
        <div style="font-size:90px"><span style="opacity:0.3">thousand</span>burn</div>
			</section>

			<section data-state="teamslide">
        <div class="row">
          <div style="margin-left:100px" class="span4">
            <img src="https://si0.twimg.com/profile_images/3358994155/252ff4f11e75d188ad4d9312eb5160c1.jpeg" class="img-polaroid">
          </div>
          <div class="span">
            <div class="row">
            <div style="margin-left:30px" class="span1">
              <img src="https://si0.twimg.com/profile_images/1018851256/THICKER_WHEEL_yellow_bigger.jpg" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/1476437071/FlyWO_bigger.jpg" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/2762724299/3f16bb2d2b5972388dfe308ab28d9f59_bigger.jpeg" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/2170177204/barrys_camo_profile_bigger.jpg" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/1909072712/uplife_Fb_v2_bigger.jpg" class="img-rounded">
            </div>
            
            <p>
            <div style="font-size:30px;line-height:30px" class="span5">
              <i>"She is a rare talent and an absolute asset to any studio. What a gem." </i>
              <br>-- RateYourBurn
          </div>
            </p>
          </div>
        </div>
          
			</section>

			<section>
        <div class="row">
          <div style="margin-left:100px" class="span4">
            <img src="https://si0.twimg.com/profile_images/2683489945/9f9922d7934e84207934c48514de1e3e.jpeg" class="img-polaroid">
          </div>
          <div class="span">
            <div class="row">
            <div style="margin-left:30px" class="span1">
              <img src="https://si0.twimg.com/profile_images/1269367976/twiticon_bigger" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/2597447644/ywhlh2o31uuoe1stqv40_bigger.jpeg" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/2831828378/644bc132bf41efc51e7be7f4532b87cb_bigger.png" class="img-rounded">
            </div>
            <div style="margin-left:10px" class="span1">
              <img src="https://si0.twimg.com/profile_images/2627708015/ls6l9y23jczmmhgpq5d9_bigger.png" class="img-rounded">
            </div>
            
            <p>
            <div style="font-size:30px;line-height:30px" class="span5">
              <i>"Software Engineer, Entrepreneur, Online Marketing Specialist" </i>
          </div>
            </p>
          </div>
        </div>
          
			</section>

			<section>
				<h2>PURPOSE</h2>
        <p>Bridging quantified self & boutique fitness</p> 
			</section>
			<section>
				<h2>PROBLEM</h2>
        <div>
          <p>In the studio:</p>
          <p>How hard am I working?</p> 
          <p>How do I compare to my friends?</p> 
          <p>Am I improving?</p> 
        </div>
			</section>
			<section>
				<h2>SOLUTION</h2>
        <p>A quantified studio</p> 
        <p>MVP = Nike Fuelband + Cardio Dance Class</p> 
        <p>Shareable analytics dashboard</p> 
			</section>
			<section>
				<h2>WHY NOW?</h2>
        <p>Boutique fitness is replacing Gyms</p> 
        <p>The technology is here</p> 
        <p>Cardio Dance is the new Spin</p> 
        <p>People share fitness experiences online</p> 
			</section>
			<section>
				<h2>MARKET SIZE</h2>
        <p>
          Customer: urban women, active on social media, spending $100 / week on boutique studios
        </p> 
        <p>
          TAM: 4.2m women, 15% studio-goers, avg spend = $100 wk, $3bn yearly spend
        </p>
			</section>
			<section>
				<h2>COMPETITION</h2>
        <div class="row">
          <div class="span3">
            <img src="https://si0.twimg.com/profile_images/1476437071/FlyWO.jpg">
          </div>
          <div class="span3">
            <img src="https://si0.twimg.com/profile_images/2698657936/10f8d2351919258e7ce0d236d7b362d7.jpeg">
          </div>
          <div class="span3">
            <img src="https://si0.twimg.com/profile_images/3278465434/87702c6b6a7a3d5d1b15e375b2441cf6.png">
          </div>
        </div>
        <p>
          Equipment-free (low capital cost)
        </p>
        <p>
          Product is women-focused
        </p>
        <p>
          Strong focus on #social  
        </p>
			</section>
			<section>
				<h2>BUSINESS MODEL</h2>
        <p>Costs : fuelbands, studio space, marketing, instructors, CRM/payment processing</p>
        <p>Pricing: $30 per class, no membership</p> 
        <p>LTV: $60 a week, 40 weeks a year = $2400 yearly. 2 year lifetime = $4800</p> 
        <p>Leverage Steph's client-base and strong social media following</p> 
			</section>
			<section>
				<h2>THE DEAL</h2>
        <p>We're raising $500k to build the first thousandburn studio in Manhattan in 2013</p> 
			</section>

			</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="/reveal.js/lib/js/head.min.js"></script>
	<script src="/reveal.js/js/reveal.min.js"></script>

	<script>
    $(document).ready(function(){
    Reveal.addEventListener( 'teamslide', function() {
      $('#logo-top').fadeIn();
    }, false );
		Reveal.initialize({
		});
    });
	</script>
</body>
</html>
